*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,h7{
    font-weight: normal;
}
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

/*字体图标*/
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family: "iconfont";
}